---
const { title, description, image = '/favicon.svg' } = Astro.props;
const siteUrl = 'https://conway.im';
const fullTitle = `${title} | Conway.im`;
const fullUrl = new URL(Astro.url.pathname, siteUrl).href;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />

<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={description} />
<link rel="canonical" href={fullUrl} />

<meta property="og:type" content="website" />
<meta property="og:url" content={fullUrl} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, siteUrl)} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={fullUrl} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, siteUrl)} />